[includeIf "gitdir:~/development/private/"]
	path = ~/.gitconfig-private
[includeIf "gitdir:~/development/work/"]
	path = ~/.gitconfig-work

[user]
	name = Danny Seidel
[commit]
	gpgsign = true
[color]
	ui = auto
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pull]
  rebase = true

